<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>新增員工資料</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css"
			href="css/style.css" />
	</head>

	<body>
		<div id="wrap">
			<div id="top_content">
					<div id="header">
						<div id="rightheader">
							<p>
								[[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}]]
								<br />
							</p>
						</div>
						<div id="topheader">
							<h1 id="title">
								<a href="#">main</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						新增員工資料:
					</h1>
					<form th:action="@{/employee/save}" method="post" enctype="multipart/form-data">
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
							<tr>
								<td valign="middle" align="right">
									姓名:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="name" />
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									照片:
								</td>
								<td valign="middle" align="left">
									<input type="file" width="" name="img" />
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									工資:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="salary" />
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									生日:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="birthday" />
								</td>
							</tr>
						</table>
						<p>
							<input type="submit" class="button" value="確認新增" />
							<a th:href="@{/employee/lists}">返回列表</a>
						</p>
					</form>

				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ricky@R&P.com
				</div>
			</div>
		</div>
	</body>
</html>
